pytorch-lightning==2.4.0
scikit-image
scikit-learn
fvcore
opencv-python-headless
tensorboard
timm
einops
matplotlib
torch_geometric==2.6.1
local-attention
fast-slic
pandas
GitPython
ptflops